@charset "utf-8";
@import "nib"
@import "_vars.styl"
@import "_base.styl"

/*RESET BROWSER'S STYLES*/
global-reset()  //reset.css


//Custom Styles Here
header
  .header-text
    color: #fff;
    margin: 10px 0;
    padding: 10px;
    text-align: center;

main
  background-color #404040
  
footer
  background-color #404040
  
body
  background-color #404040
  min-width 768px